:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --primary-color: #6a0dad;
  --secondary-color: #ffc300;
  --purple_gradient: linear-gradient(135deg, #9370db, #4b0082);
  --gold_gradient: linear-gradient(135deg, #e9c617, #d4af37);
  --secondary-shade: #ffffff;
}

/* Header Styling */
.gallery_section {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  padding: 3rem;
}

.gallery_header h1 {
  font-size: 5rem;
  color: var(--purple_gradient);
}

/* Container Styling */
.gallery_container {
  background: var(--purple_gradient);
  border: 2px solid green;
  border-radius: 15px;
  font-size: 1.3rem;
  margin: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  overflow-inline: hidden;
}

/* Wrapper for each gallery item */
.gallery_wrapper {
  width: 100%;
  min-height: 45vh;
  max-width: 25rem;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-shade);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Image styling within each gallery item */
.gallery_info img {
  height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.gallery_wrapper h2 {
  color: var(--secondary-color);
  font-size: 1.5rem;
}
.gallery_wrapper p {
  text-transform: capitalize;
}
.gallery_info img:hover {
  transform: scale(1.1);
  overflow: hidden;
}

/* Text Styling within each gallery item */
.gallery_info h1,
.gallery_info p {
  padding: 1rem;
}

.gallery_info h1 {
  text-align: center;
  color: var(--gold_gradient);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.gallery_info p {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 43.75em) {
  .gallery_container {
    marging: 1rem;
  }
  .gallery_wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 31.25em) {
  .gallery_container {
    marging: 1rem;
  }
  .gallery_header h1 {
    font-size: 2.5rem;
  }

  .gallery_info h1 {
    font-size: 1.3rem;
  }

  .gallery_info p {
    font-size: 1rem;
  }
}
