/* Galleria Styling */
.galleria_section,
.updategallery_section {
  display: grid;
  place-content: center;
  padding: 2rem;
  font-size: 1.5rem;
  background: var(--purple_gradient);
}
.galleria_wrapper form,
.update_wrapper form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  gap: 1rem;
}
.galleria_wrapper label,
.update_wrapper label {
  color: var(--primary-color);
  font-weight: 600;
}
.galleria_wrapper input,
.update_wrapper input {
  padding: 0.7rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: transparent;
  border-bottom: 3px solid var(--secondary-color);
  color: var(--primary-color);
}
.galleria_wrapper textarea,
.update_wrapper textarea {
  min-height: 7rem;
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--primary-color);
  border-radius: 10px;
  border: transparent;
  border-bottom: 3px solid var(--secondary-color);
}
.galleria_wrapper p,
.update_wrapper p {
  margin: 0;
  font-size: 1.3rem;
  color: var(--secondary-shade);
}
.galleria_wrapper button,
.update_wrapper button {
  font-size: 1.6rem;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 700;
  color: var(--secondary-shade);
  background: var(--secondary-color);
}
.galleria_wrapper button:hover,
.update_wrapper button:hover {
  background-color: #fff;
  color: var(--primary-color);
}

/* UpdateGallery Styling */

/* Display Gallery Styling */
.galleria_section {
  padding: 0;
  background: var(--gold_gradient);
}
.galleria_section h1 {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
}
.galleria_btn {
  background: var(--secondary-shade);
  color: var(--primary-color);
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  width: 15%;
  float: right;
  margin-right: 2rem;
  cursor: pointer;
}
.galleria_display {
  width: 30rem;
  min-height: 35rem;
  /* border: 2px solid green; */
  font-size: 1.6rem;
  text-align: center;
  background: var(--purple_gradient);
  border-radius: 10px;
}
.galleria_display img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}
.galleria_display h1 {
  font-size: 2rem;
  color: var(--secondary-color);
}
.galleria_display p {
  color: var(--secondary-shade);
}
.operations {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.galleria_wrapper {
  margin: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* border: 2px solid green; */
}
