:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --primary-color: #6a0dad;
  --secondary-color: #ffc300;
  --purple_gradient: linear-gradient(135deg, #9370db, #4b0082);
  --gold_gradient: linear-gradient(135deg, #e9c617, #d4af37);
  --secondary-shade: #ffffff;
}
.contact_section {
  padding: 2rem 1rem;
  /* background: var(--purple_gradient); */
  border-radius: 10px;
}
.contact_container {
  font-size: 1.5rem;
}
.contact_header h1 {
  font-size: 4rem;
  color: var(--primary-color);
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.contact_container h2 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 5rem;
}
.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  background: var(--purple_gradient);
}
.form_container p {
  color: var(--secondary-color);
}
.form_details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.form_details label {
  color: var(--secondary-color);
  text-align: center;
  padding: 0.5rem;
  font-weight: 600;
}

.form_details input {
  padding: 0.7rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
  border: none;
  width: 50%;
  border-radius: 10px;
  border-bottom: var(--secondary-color);
}
#message {
  color: var(--secondary-color);
  font-family: var(--primary-font);
}

.contact_container textarea {
  width: 50%;
  min-height: 6.25rem;
}

.contact_container button {
  background: var(--gold_gradient);
  color: var(--primary-color);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  width: 50%;
}
@media screen and (max-width: 62.5em) {
  .contact_section {
    padding: 2rem 1rem;
  }
  .contact_header h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .contact_container h2 {
    font-size: 4.5rem;
  }
  .form_details {
    flex-direction: column;
    padding: 0.2rem;
  }
}
@media screen and (max-width: 31.25em) {
  .contact_section {
    padding: 2rem 1rem;
  }
  .contact_header h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  .contact_container h2 {
    font-size: 3rem;
  }
  .form_details {
    flex-direction: column;
    padding: 0.2rem;
  }
  .form_details input,
  #message {
    width: 80%;
  }
}
@media screen and (max-width: 25em) {
  .contact_section {
    padding: 2rem 1rem;
  }
  .contact_header h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  .contact_container h2 {
    font-size: 3rem;
    width: 100%;
  }
  .form_details {
    flex-direction: column;
    padding: 0.2rem;
  }
  .form_details input,
  #message {
    width: 100%;
  }
}
@media screen and (max-width: 21.875em) {
}
