:root {
  --primary-color: #003566;
  --secondary-color: #ffc300;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Dancing Script", cursive;
}
.contact_container {
  font-size: 1.5rem;
}
.contact_header {
  width: 100%;
  height: 25rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(../../assets/contact_us.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  place-content: center;
}
.contact_header h1 {
  font-size: 4rem;
  color: var(--secondary-color);
}
.contact_container h1 {
  font-family: var(--secondary-font);
  font-size: 5rem;
  color: #fff;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
}
.form_contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 70%;
  padding: 0.5rem;
}
.form_contents label,
.form_details label {
  color: var(--secondary-color);
  text-align: center;
  padding: 0.5rem;
  font-weight: 600;
}

.form_contents input {
  padding: 0.7rem;
  color: var(--secondary-color);
  border: none;
  width: 70%;
  border-radius: 10px;
  border-bottom: var(--secondary-color);
}
.form_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact_container textarea {
  width: 50%;
  align-self: center;
  min-height: 6.25rem;
}
.form_details button {
  display: flex;
}
.contact_container button {
  margin-top: 1rem;
  padding: 1rem;
  color: var(--primary-shade);
  background-color: var(--secondary-shade);
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  width: 50%;
}
