:root {
  --primary-shade: #003566d5;
  --secondary-shade: #ffc300;
  --width: 4rem;
  --height: 4rem;
}

/* Hero Setion Styling */
.hero_container {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: var(--primary-shade);
}
@media screen and (max-width: 62.5em) {
  .hero_container {
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
  }
  .hero_left {
    width: 100%;
  }
  .hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero_text img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 40.625em) {
  .hero_container {
    display: grid;
    place-content: center;
    padding: 1rem;
  }
  .hero_left {
    position: relative;
    overflow-x: hidden;
    height: fit-content;
    width: fit-content;
  }
  .hero_left img {
    width: 100%;
    height: auto;
  }
  .hero_text h1 {
    font-size: 2.5rem;
  }
}

.hero_text h1 {
  font-size: 5rem;
  color: var(--secondary-shade);
}
.hero_text p {
  font-size: 1.8rem;
  color: #fff;
  margin-top: 1rem;
}
.hero_text button {
  margin-top: 1rem;
  padding: 1rem;
  color: var(--primary-shade);
  background-color: var(--secondary-shade);
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  width: 20rem;
}
.hero_text button:hover {
  color: #fff;
  background-color: var(--secondary-shade);
}

.hero_left {
  padding-top: 1rem;
  width: fit-content;
  position: relative;
}
.hero_left img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 6.25rem;
  border: 5px solid var(--secondary-shade);
  background: lightgray 50% no-repeat;
}
.hero_left svg {
  color: hsla(46, 100%, 50%, 0.7);
}
.svg_1,
.svg_2,
.svg_3,
.svg_4,
.svg_5,
.svg_6,
.svg_7,
.svg_8,
.svg_9 {
  position: absolute;
}
.svg_3,
.svg_4,
.svg_5,
.svg_6,
.svg_7,
.svg_8 {
  width: 2rem;
  height: var(--height);
}

.svg_1 {
  width: var(--width);
  height: var(--height);
  top: 4rem;
  left: 9rem;
  color: var(--secondary-shade);
  animation: shining 2s linear infinite;
}
.svg_2 {
  width: var(--width);
  height: var(--height);
  bottom: 4rem;
  right: 9rem;
  animation: shining 2s linear infinite;
}
.svg_3 {
  top: 50%;
  right: 10%;
  animation: shining 2s linear infinite;
}
.svg_4 {
  top: 20%;
  right: 10%;
  animation: shining 2s linear infinite;
}

.svg_5 {
  bottom: 30%;
  left: 10%;
  animation: shining 2s linear infinite;
}

.svg_6 {
  bottom: 20%;
  right: 30%;
  animation: shining 2s linear infinite;
}

.svg_7 {
  top: 20%;
  left: 20%;
  animation: write 5s linear infinite;
}

.svg_8 {
  bottom: 20%;
  right: 20%;
  animation: write 5s linear infinite;
}

.svg_9 {
  width: var(--width);
  height: var(--height);
  top: 30%;
  right: 70%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shining {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
}
@keyframes write {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(
      20px,
      20px
    );
    opacity: 0;
  }
}

/* Why Section Styling */
.why_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
@media screen and (max-width: 40.625em){
  .why_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 25em) {
  .why_wrapper{
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }
}
.why_container{
  font-size: 1.5rem;
  display:flex;
  flex-direction: column;
} 
.why_icon{
  position: relative;
  transform: translateX(35%) translateY(50%);
}
.why_icon svg{
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 50%;
  color: antiquewhite;
  background-color: #000;

}
.why_text{
  width: 100%;
  background-color: #ffc300;
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
}
.why_text h1{
  margin-top: 1.5rem;
}
.why_text p{
  color: #fff;
}
