:root {
  --primary-shade: #003566d5;
  --secondary-shade: #ffc300;
  --width: 4rem;
  --height: 4rem;
}
body {
  background-color: var(--primary-shade);
}
/* Hero Setion Styling */
.hero_container {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: var(--primary-shade);
}
.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.hero_left {
  position: relative;
  overflow-x: hidden;
  height: fit-content;
  width: 50%;
}
@media screen and (max-width: 62.5em) {
  .hero_container {
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
  }
  .hero_left {
    width: 100%;
  }
  .hero_text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hero_text img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 40.625em) {
  .hero_container {
    display: grid;
    place-content: center;
    padding: 1rem;
  }
  .hero_left {
    position: relative;
    overflow-x: hidden;
    height: fit-content;
    width: 100%;
  }
  .hero_left img {
    width: 100%;
    height: auto;
  }
  .hero_text h1 {
    font-size: 2.5rem;
  }
}

.hero_text h1 {
  font-size: 5rem;
  color: var(--secondary-shade);
}
.hero_text p {
  font-size: 1.8rem;
  color: #fff;
  margin-top: 1rem;
}
.hero_text button,
.about_us_txt button {
  margin-top: 1rem;
  padding: 1rem;
  color: var(--primary-shade);
  background-color: var(--secondary-shade);
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  width: 20rem;
}
.hero_text button:hover,
.about_us_txt button:hover {
  color: #fff;
  background-color: var(--secondary-shade);
}

.hero_left {
  padding-top: 1rem;
  width: fit-content;
  position: relative;
}
.hero_left img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 6.25rem;
  border: 5px solid var(--secondary-shade);
  background: lightgray 50% no-repeat;
}
.hero_left svg {
  color: hsla(46, 100%, 50%, 0.7);
}
.svg_1,
.svg_2,
.svg_3,
.svg_4,
.svg_5,
.svg_6,
.svg_7,
.svg_8,
.svg_9 {
  position: absolute;
}
.svg_3,
.svg_4,
.svg_5,
.svg_6,
.svg_7,
.svg_8 {
  width: 2rem;
  height: var(--height);
}

.svg_1 {
  width: var(--width);
  height: var(--height);
  top: 4rem;
  left: 9rem;
  color: var(--secondary-shade);
  animation: shining 2s linear infinite;
}
.svg_2 {
  width: var(--width);
  height: var(--height);
  bottom: 4rem;
  right: 9rem;
  animation: shining 2s linear infinite;
}
.svg_3 {
  top: 50%;
  right: 10%;
  animation: shining 2s linear infinite;
}
.svg_4 {
  top: 20%;
  right: 10%;
  animation: shining 2s linear infinite;
}

.svg_5 {
  bottom: 30%;
  left: 10%;
  animation: shining 2s linear infinite;
}

.svg_6 {
  bottom: 20%;
  right: 30%;
  animation: shining 2s linear infinite;
}

.svg_7 {
  top: 20%;
  left: 20%;
  animation: write 5s linear infinite;
}

.svg_8 {
  bottom: 20%;
  right: 20%;
  animation: write 5s linear infinite;
}

.svg_9 {
  width: var(--width);
  height: var(--height);
  top: 30%;
  right: 70%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shining {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
}
@keyframes write {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(20px, 20px);
    opacity: 0;
  }
}

/* Why Section Styling */
.why_section {
  background-color: #003566ab;
  padding: 2rem;
}
.why_section h1 {
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-shade);
}
.why_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 40.625em) {
  .why_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 25em) {
  .why_wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }
}
.why_container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.why_icon {
  position: relative;
  transform: translateX(35%) translateY(50%);
}
.why_icon svg {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 50%;
  color: antiquewhite;
  background-color: #000;
}
.why_text {
  width: 100%;
  background-color: #ffc300;
  text-align: center;
  padding-bottom: 1rem;
  border-radius: 10px;
}
.why_text p {
  color: #fff;
}

/* About Section Styling */
.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-shade);
  padding: 1rem;
  font-size: 1.5rem;
}
.about_img {
  width: 60%;
}
.about_us_txt {
  padding: 1rem;
  width: 40%;
  text-align: right;
  padding-right: 2rem;
}
.img_1,
.img_2,
.img_3 {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  overflow-x: hidden;
}
@media screen and (max-width: 40.625em) {
  .about_container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about_img {
    width: 100%;
  }
  .about_us_txt {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .img_1,
  .img_2,
  .img_3 {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow-x: hidden;
  }
}

.img_1 {
  position: relative;
  left: 10%;
  top: 20%;
}
.img_2 {
  position: relative;
  top: 70%;
  /* bottom: 10%; */
  left: 40%;
}
.img_3 {
  position: relative;
  left: 30%;
  top: 20%;
}
@media screen and (max-width: 40.625em) {
  .about_img {
    position: relative;
    width: 100%;
  }
  .img_1 {
    position: relative;
    left: 8%;
  }
  .img_2 {
    position: relative;
    left: 25%;
  }
  .img_3 {
    position: relative;
    left: 15%;
  }
}
.about_us_txt h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.about_us_txt p {
  font-size: 2rem;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Figures Section Style */
/* Planning to make it responsive */
.figures_container {
  width: 100%;
  background-color: var(--primary-shade);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.6rem;
  padding: 2rem;
}
.figures_container h1 {
  /* font-size: 2.2rem; */
  text-transform: uppercase;
  color: var(--secondary-shade);
}
.figures_container h3 {
  font-size: 3rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  color: #fff;
}
.figures_container p {
  background-color: var(--secondary-shade);
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
}
.top_figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}
@media screen and (max-width: 62.5em) {
  .figures_container {
    width: 100%;
    background-color: var(--primary-shade);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .top_figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
}

/* Testimonial Section Style */
.testimonial_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-shade);
}
.testimonial_section .testimonial_header {
  text-transform: uppercase;
  color: var(--secondary-shade);
}
.testimonial_container {
  background-color: var(--primary-shade);
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
}
.testimonial_header {
  font-size: 2rem;
  text-align: center;
  color: var(--secondary_color);
}
.testimonial_wrapper {
  width: 30rem;
  background-color: var(--secondary-shade);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: first baseline;
  gap: 1.5rem;
}
.person {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50rem;
  /* width: 40%; */
}
.person img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: block;
  object-fit: fill;
  overflow: hidden;
}
.person h1 {
  font-size: 1.5rem;
  color: var(--primary-shade);
  font-weight: 600;
}
.testimonial_wrapper p {
  color: #fff;
}
@media screen and (max-width: 62.5em) {
  .testimonial_container {
    background-color: var(--primary-shade);
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
  }
  .testimonial_wrapper {
    background-color: var(--secondary-shade);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    max-width: 30rem;
  }
  .person {
    display: flex;
    width: 50rem;
  }
  .person img {
    display: block;
    object-fit: fill;
    overflow: hidden;
  }
  .person h1 {
    /* font-size: 1rem; */
    /* color: var(--primary-shade); */
    font-weight: 600;
  }
}

/* Home Contact Styling */
.home_contact_container {
  background-color: var(--primary-shade);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
  padding: 1rem;
}
.contact h1 {
  text-transform: uppercase;
  color: var(--secondary-shade);
}
.contact p {
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 2.5rem;
}
.home_form_contents {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}
.home_form_contents label {
  color: var(--secondary-color);
  text-align: center;
  padding: 0.5rem;
  font-weight: 600;
}
.home_form_contents input,
.home_form_contents textarea {
  padding: 0.7rem;
  font-weight: 700;
  color: var(--secondary-color);
  border: none;
  width: 90%;
  border-radius: 10px;
  border-bottom: var(--secondary-color);
}
.home_form_contents button {
  margin-top: 1rem;
  padding: 1rem;
  color: var(--primary-shade);
  background-color: var(--secondary-shade);
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  width: 90%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.info h1 {
  text-transform: uppercase;
  color: var(--secondary-shade);
}
.info p {
  color: #fff;
}
.info a {
  text-decoration: none;
  color: #fff;
}
.info svg {
  width: 2rem;
  height: 2rem;
  color: var(--secondary-shade);
}
@media screen and (max-width: 25em) {
  .home_contact_container {
    background-color: var(--primary-shade);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
    padding: 1rem;
  }
  .contact {
    text-align: center;
  }
  .home_form_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Subscribe Section Styling */
.newsletter_section {
  display: grid;
  place-content: center;
  width: 100%;
  transform: translateY(3.5rem);
}
.newsletter {
  background-color: var(--primary-shade);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  color: #fff;
  gap: 0.5rem;
  border-radius: 10px;
}
.newsletter_input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter_input input,
.newsletter_input button {
  padding: 1rem;
  border-color: var(--secondary-shade);
  font-weight: 700;
  overflow: hidden;
}
.newsletter_input input {
  border-radius: 10px 0 0 10px;
}
.newsletter_input button {
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 37.5em) {
  .newsletter_section {
    width: 100%;
    transform: translateY(0);
  }
  .newsletter {
    background-color: var(--primary-shade);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    font-size: 1.5rem;
    color: #fff;
    gap: 0.5rem;
  }
}
