:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --primary-color: #6a0dad;
  --secondary-color: #ffc300;
  --purple_gradient: linear-gradient(135deg, #9370db, #4b0082);
  --gold_gradient: linear-gradient(135deg, #e9c617, #d4af37);
  --secondary-shade: #ffffff;
}

body {
  /* background: var(--purple_gradient); */
  width: 100%;
}
/* Home Page Styling */
.home_section {
  background: var(--purple_gradient);
}
/* Hero Setion Styling */
.carousel {
  position: relative;
  /* margin-top: 2rem; */
  width: 100%;
  overflow: hidden;
}
.carousel_nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.carousel_nav button {
  background: transparent;
  border: none;
  color: var(--secondary-shade);
  font-size: 4em;
  cursor: pointer;
}
.carousel_nav button:hover {
  color: var(--secondary-shade);
  background-color: var(--primary-shade);
  outline: 2px solid #000;
}
.progress-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

.progress {
  height: 100%;
  background-color: var(--primary-color);
}
.hero_container,
.hero_container_1,
.hero_container_2 {
  position: relative;
  width: 100%;
  height: 70vh;
  display: grid;
  place-content: end;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.hero_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(../../assets/hero_bg1.png);
}
.hero_container_1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(../../assets/leadership.jpg);
}
.hero_container_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(../../assets/hero_bg_2.jpg);
}
.hero_text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem;
}
.hero_text h1 {
  font-size: 5rem;
  color: var(--secondary-color);
}
.hero_text h3 {
  font-size: 3rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}
.hero_text p {
  font-size: 1.8rem;
  color: #fff;
  margin-top: 1rem;
}
.hero_text button,
.about_us_txt button {
  text-decoration: none;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--secondary-color);
  background-color: var(--secondary-shade);
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  width: 20rem;
}
.hero_text button:hover,
.about_us_txt button:hover {
  color: #fff;
  background-color: var(--secondary-shade);
}
@media screen and (max-width: 46.875em) {
  .carousel {
    position: relative;
    width: 100%;
    height: 45vh;
  }
  .hero_container,
  .hero_container_1,
  .hero_container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45vh;
  }
  .hero_text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
  }
  .hero_text h1 {
    font-size: 4rem;
    color: var(--secondary-color);
  }
  .hero_text h3 {
    font-size: 2rem;
    color: var(--secondary-color);
  }
  .hero_text p {
    font-size: 1rem;
  }
  .hero_text button {
    color: var(--secondary-color);
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 15px;
    width: 10rem;
  }
}
@media screen and (max-width: 31.25em) {
  .carousel {
    position: relative;
    width: 100%;
    height: 38vh;
  }
  .hero_container,
  .hero_container_1,
  .hero_container_2 {
    width: 100%;
    height: 38vh;
  }
  .hero_text {
    gap: 0.5rem;
    width: 100%;
    height: 100%;
  }
  .hero_text h1 {
    font-size: 3rem;
    color: var(--secondary-color);
  }
  .hero_text h3 {
    font-size: 1.5rem;
    color: var(--secondary-color);
  }
  .hero_text p {
    font-size: 1rem;
  }
  .hero_text button {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 15px;
    width: 10rem;
  }
}

/* Why Section Styling */
.why_section {
  background: var(--gold_gradient);
  padding: 1rem;
}
.why_section h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
}
.why_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.why_container {
  background: var(--purple_gradient);
  width: 23rem;
  height: 30vh;
  border-radius: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.why_icon {
  position: relative;
  transform: translateX(35%) translateY(50%);
}
.why_icon svg {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 50%;
  background: var(--gold_gradient);
  color: var(--primary-color);
  background-color: #000;
}
.why_text {
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
}
.why_text p {
  color: #fff;
}

@media screen and (max-width: 46.875em) {
  .why_section h1 {
    font-size: 2rem;
  }
  .why_wrapper {
    display: flex;
    gap: 1rem;
  }
  .why_container {
    background: var(--purple_gradient);
    width: 25rem;
    height: 25vh;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 25em) {
  .why_section h1 {
    font-size: 1.5rem;
  }
  .why_wrapper {
    display: flex;
    gap: 1rem;
  }
  .why_container {
    background: var(--purple_gradient);
    width: 20rem;
    height: 20vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }
}

/* About Section Styling */
.about_container {
  background-image: url(../../assets/aboutus.avif);
  background-position: center;
  background-size: cover;
  display: grid;
  place-content: center;
  padding: 1rem;
  font-size: 1.5rem;
}
.about_us_txt {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.about_us_txt h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.about_us_txt p {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Figures Section Style */
.figures_container {
  width: 100%;
  background: var(--purple_gradient);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.6rem;
  padding: 2rem;
}
.figures_container h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.figures_container h3 {
  font-size: 3rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  color: #fff;
}
.figures_container p {
  background: var(--gold_gradient);
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
}
.top_figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}
@media screen and (max-width: 62.5em) {
  .figures_container {
    width: 100%;
    background-color: var(--primary-shade);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .top_figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
}

/* Testimonial Section Style */
.testimonial_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--purple_gradient);
}
.testimonial_header {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.testimonial_container {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}
.testimonial_header {
  font-size: 2rem;
  text-align: center;
  color: var(--secondary-color);
}
.testimonial_wrapper {
  width: 20rem;
  height: 25vh;
  background: var(--gold_gradient);
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: first baseline;
  gap: 1rem;
}
.person {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 20rem;
}
.person img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: block;
  object-fit: fill;
  overflow: hidden;
}
.person h1 {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
}
.testimonial_wrapper p {
  color: #fff;
}
@media screen and (max-width: 62.5em) {
  .testimonial_container {
    background-color: var(--primary-shade);
    font-size: 1.3rem;
  }
  .testimonial_wrapper {
    width: 38rem;
    height: 14vh;
    background-color: var(--secondary-shade);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    max-width: 30rem;
  }
  .person {
    display: flex;
    width: 50rem;
    padding: 0;
  }
  .person img {
    display: block;
    object-fit: fill;
    overflow: hidden;
  }
  .person h1 {
    /* font-size: 1rem; */
    /* color: var(--primary-shade); */
    font-weight: 600;
  }
}

/* Home Contact Styling */
.home_contact_container {
  background: var(--purple_gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
  padding: 2rem;
}
.contact h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.contact p {
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 2rem;
}
.home_form_contents {
  display: flex;
  flex-direction: column;
}
.home_form_contents label {
  color: var(--secondary-color);
  text-align: center;
  padding: 0.5rem;
  font-weight: 600;
}
.home_form_contents input,
.home_form_contents textarea {
  padding: 0.7rem;
  font-weight: 700;
  color: var(--secondary-color);
  border: none;
  width: 90%;
  border-radius: 10px;
  border-bottom: var(--secondary-color);
}
.home_form_contents button {
  margin-top: 1rem;
  padding: 1rem;
  color: var(--primary-shade);
  background: var(--gold_gradient);
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  width: 90%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.info h1 {
  text-transform: uppercase;
  color: var(--secondary-shade);
}
.info p {
  color: #fff;
}
.info a {
  text-decoration: none;
  color: #fff;
}
.info svg {
  width: 2rem;
  height: 2rem;
  color: var(--secondary-shade);
}
@media screen and (max-width: 37.5em) {
  .home_contact_container {
    background-color: var(--primary-shade);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
    padding: 1rem;
  }
  .contact {
    text-align: center;
  }
  .home_form_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Subscribe Section Styling */
.newsletter_section {
  width: 100%;
  /* transform: translateY(4rem); */
}
.newsletter {
  background: var(--gold_gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  color: #fff;
  gap: 0.5rem;
  border-radius: 10px;
}
.newsletter_input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter_input input,
.newsletter_input button {
  padding: 1rem;
  border: 3px solid var(--secondary-shade);
  font-weight: 700;
  overflow: hidden;
}
.newsletter_input input {
  border-radius: 10px 0 0 10px;
}
.newsletter_input button {
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 37.5em) {
  .newsletter_section {
    width: 100%;
    transform: translateY(0);
  }
  .newsletter {
    background-color: var(--primary-shade);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    gap: 0.5rem;
  }
}

/* About Us Page Styling */
.aboutus_container {
  font-size: 1.5rem;
}
.leadership_header {
  background-image: url(../../assets/about_bg.avif);
  font-size: 3rem;
  height: 25rem;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.leadership {
  display: flex;
  height: 50vh;
  padding: 1rem;
  overflow: hidden;
}
.leadership blockquote {
  color: #fff;
  padding: 1rem;
}
.leadership_text {
  width: 70%;
  display: grid;
  place-content: center;
  padding: 2rem;
}
.leadership_text h1 {
  color: var(--secondary-color);
}
.leadership_about_img {
  height: 50rem;
  overflow: hidden;
}
.leadership_about_img img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  object-fit: cover;
}
.vision,
.mission,
.what_we_do {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 25rem;
}
.vision svg,
.mission svg,
.what_we_do svg {
  color: var(--secondary-color);
  height: 10rem;
  width: 10rem;
  width: 30%;
}
.vision svg:hover,
.mission svg:hover,
.what_we_do svg:hover {
  color: #fff;
}
.leadership_vision,
.leadership_mission,
.leaderhip_what_we_do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leadership_vision h2,
.leadership_mission h2,
.leaderhip_what_we_do h2 {
  color: var(--secondary-shade);
}
.leadership_vision p,
.leadership_mission p,
.leaderhip_what_we_do p {
  color: #fff;
}
