.request_container {
  font-size: 1.5rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.request_intro {
  padding: 1rem;
}
.request_intro h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.request_intro p {
  color: #fff;
}
.form_section {
  background-color: var(--primary-color);
  /* display: flex; */
  width:100%;
}
.form_input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
}
.form_input label {
  text-align: center;
  font-weight: 600;
  color: var(--secondary-color);
}
.form_input input,
#purpose {
  padding: 1rem;
  color: var(--secondary-color);
  border-radius: 10px;
  border-bottom: 3px solid var(--secondary-color);
}
.details {
  display: flex;
  width: 100%;
  justify-content: center;
}
.form_input textarea {
  height: 10rem;
}
.form_section button {
  margin-top: 1rem;
  padding: 1rem;
  color: var(--primary-shade);
  background-color: var(--secondary-shade);
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 15px;
  width: 100%;
}
@media screen and (max-width: 31.25em){
  .details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .form_input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
    padding: 0.5rem;
  }
}