:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --primary-color: #6a0dad;
  --secondary-color: #ffc300;
  --purple_gradient: linear-gradient(135deg, #9370db, #4b0082);
  --gold_gradient: linear-gradient(135deg, #e9c617, #d4af37);
  --secondary-shade: #ffffff;
}

.schedule_section {
  padding: 2rem 1rem;
  background: #f5f5f5;
}

.schedule_container {
  /* max-width: ; */
  margin: 0 auto;
}

.schedule_header {
  /* background-image: url(../../assets/schedule.png); */
  text-align: center;
  margin-bottom: 3rem;
}

.schedule_header h1 {
  font-size: 4rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.schedule_wrapper {
  background: var(--purple_gradient);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.schedule_wrapper h1 {
  color: var(--secondary-shade);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  font-family: var(--secondary-font);
  color: #f0f0f0;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.schedule_events {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.event_card {
  display: flex;
  align-items: center;
  background: var(--gold_gradient);
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateY(0);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.event_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.event_timeline {
  background: var(--purple_gradient);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.timeline_dot {
  color: var(--secondary-shade);
  font-size: 2.5rem;
  transition: transform 0.3s ease;
}

.event_card:hover .timeline_dot {
  transform: scale(1.3);
}

.event_content {
  color: var(--primary-color);
  padding: 1rem;
  flex-grow: 1;
}

.event_content h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.event_content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.event_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.details svg {
  font-size: 1.5rem;
  color: var(--secondary-shade);
}

@media screen and (max-width: 43.75em) {
  .schedule_wrapper h1 {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .event_card {
    flex-direction: column;
    align-items: flex-start;
  }

  .event_timeline {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
